.chatContainer {
  display: flex;
  flex-direction: column;
  height: 100dvh;

  &.darkTheme {
    background-color: #4a4b4a;
    color: rgb(229, 220, 213);
  }
}

.chatContent {
  display: flex;
  flex: 1;
  overflow: hidden;
  // background-color: #242424;
  padding: 0 50px;
}
