.header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f0f0f0;
  padding: 0 2rem;
  text-align: center;

  &.darkTheme {
    background-color: #4a4b4a;
    color: rgb(229, 220, 213);
  }

  span {
    font-size: 1.5rem;
    color: #009845;
  }

  .userWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  img.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: aliceblue;
    border: 1px solid #ccc;
    padding: 2px;
  }
}
