.sideBar {
  width: 20%;
  min-width: 200px;
  background: #f0f0f0;
  // padding: 10px;
  padding: 0 50px 0 0;
  overflow-y: auto;

  &.darkTheme {
    background-color: #4a4b4a;
    color: rgb(229, 220, 213);
  }

  h2 {
    margin-top: 0;
    font-size: 1rem;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    border-bottom: 1px solid #ccc;
    padding: 1.5rem;
    position: relative;
    transition: all 0.1s ease-in-out;

    p {
      margin: 0;
      max-width: 90%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    span {
      display: block;
      font-size: 0.8em;
      color: #888;
    }

    .actions {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .dropdownToggle {
        cursor: pointer;
        font-size: 1.5rem;
        line-height: 0.5;
        color: black;
        font-weight: bold;
        position: absolute;
        right: 15px;
        bottom: 25px;
        transition: all 0.3s ease-in-out;
        display: none;

        &:hover {
          color: #009845;
        }
      }

      .dropdownMenu {
        position: absolute;
        top: 100%;
        right: 0;
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 1;
        display: flex;
        flex-direction: column;
        padding: 5px;

        button {
          padding: 5px;
          margin: 5px;
          cursor: pointer;
          border: none;
          background-color: transparent;
          color: black;

          &:hover {
            background: #f0f0f0;
            border-radius: unset;
          }

          &:disabled {
            color: #ccc;
            cursor: not-allowed;
            background-color: transparent;
          }
        }

        .resend:hover {
          color: #009845;
        }

        .delete:hover {
          color: #ff0000;
        }
      }
    }

    &:hover {
      background: #e0e0e0;
    }

    &:hover .dropdownToggle {
      display: block;
      background: #e0e0e0;
    }
  }
}

.darkTheme li:hover {
  border-color: rgb(229, 220, 213);
  color: rgb(0, 0, 0);
}

@media (max-width: 768px) {
  .desktop-only {
    display: block;
  }
  .mobile-only {
    display: none;
  }

  .sideBar {
    width: 100%;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    min-height: 100dvh;
  }
}
