body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
#root {
  width: 100%;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 30px;
  border: 2px solid #009845;
  color: #009845;
  padding: 0.6em 1.2em;
  font-size: 0.9rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #fafafa;
  cursor: pointer;
  transition: all ease-in-out 0.2s;

  &:disabled {
    color: #b3b3b3;
    border-color: #b3b3b3;
    background-color: #f2f2f2;
    cursor: not-allowed;
  }
}

button:hover {
  color: #fafafa;
  background-color: #009845;
  &:disabled {
    color: #b3b3b3;
    border-color: #b3b3b3;
    background-color: #f2f2f2;
    cursor: not-allowed;
  }
}

button:focus,
button:focus-visible {
  outline: 1px auto -webkit-focus-ring-color;
}

input,
textarea {
  border-radius: 30px;
  border: 2px solid #009845;
  color: #009845;
  padding: 0.6em 1.2em;
  font-size: 0.9rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #fafafa;
  transition: all ease-in-out 0.2s;
  &::placeholder {
    color: #009845;
    font-size: 0.8rem;
    line-height: 3;
  }
}

.scrollToBottom .scrollToBottom__followButton {
  position: absolute;
  bottom: 13px;
  right: 4.5rem;
  padding: 5px 10px 10px 10px;
  background-color: white;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5rem;
  width: 40px;
  height: 40px;
  line-height: 0;
}

.scrollToBottom .scrollToBottom__followButton:hover {
  background-color: #009845;
}

.scrollToBottom .scrollToBottom__followButton::before {
  content: '↓';
  color: #009845;
}
.scrollToBottom .scrollToBottom__followButton:hover::before {
  content: '↓';
  color: white;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
