@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

.messageWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  position: relative;

  &.sent {
    align-self: flex-end;
    flex-direction: row-reverse;
  }

  &.received {
    align-self: flex-start;
  }

  .message {
    padding: 10px;
    border-radius: 5px;
    color: white;

    &.sent {
      background: #4a4b4a;
    }

    &.received {
      background: #006580;
    }

    p {
      margin: 0;
      display: inline-block;
      overflow: hidden;
      white-space: pre-wrap; /* Preserve line breaks */
    }

    &.typing p {
      animation: typing 3s steps(40, end), blink-caret 0.75s step-end infinite;
      border-right: 1px solid white;
    }

    &.done p {
      border-right: none;
      animation: none;
    }

    span {
      font-size: 0.7em;
      color: #bdbdbd;
      margin-top: -3px;
      display: block;
    }
  }

  img.sent,
  img.received {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: aliceblue;
    border: 1px solid #ccc;
    padding: 2px;
    position: absolute;
    top: -25px;
  }
}
